<h2 class="display-5 my-3">Tweets</h2>
<div class="row row-cols-1 row-cols-xl-2">
  <% if @tweets.size.positive? %>
    <%= render(@tweets) %>
  <% else %>
    <p>Start following users to see some tweets!</p>
  <% end %>
</div>

<div class="my-3">
  <%= paginate @tweets %>
</div>